:host .bg-white {
    background-color: white;
}

:host .bg-green {
    background-color: rgb(39, 67, 1);
}

:host .position-right {
    position: absolute;
    top: 70%;
    padding: 10px;
    right: 60px;
    bottom: 0px;
}

:host .hide {
    display: none;
}

.THIS header.slds-card__header.slds-grid {
    padding-top: 0px;
}

:host .slds-radio-div {
    display: inline-block !important;
}